html {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}




h3{
    text-align: center;
    font-size: clamp(10px, 8vw, 24px);
    font-weight: normal;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 30px;

    font-family: 'Arial', sans-serif
}





p{
    text-align: center;
    font-size: clamp(8px, 5vw, 16px);
    font-weight: normal;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
}

.hero{
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(Images/background.jpg);
    background-position: center;
    background-attachment: fixed;
}
.hero .title{
    height: auto;
    width: clamp(70px, 80vw, 900px);


    opacity: 0;
    transform: translateY(-100px);
    animation: title-entrar 2.5s ease-out forwards;
    z-index: 1;
}
@keyframes title-entrar {
    to{
        opacity: 1;
        transform: translateY(0);
    }
}



.hero-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5; /* Cuanto más alto, más oscuro */
    pointer-events: none; /* Para que no bloquee clics */
}




.hero .icon{
    height: 150px;
    z-index: 1;


    opacity: 0;
    transform: translateY(100px);
    animation: img-entrar 2.5s ease-out forwards;
}

@keyframes img-entrar {
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}


.div1{
    background-color: #3a3a3a;
    width: 100vw;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente (si hace falta) */
    gap: 90px; 
    flex-wrap: wrap; /* permite que salten abajo si no caben */
    padding: 50px;
    
}
.div1 .juega-minecraft{
    filter: drop-shadow(0 4px 18px rgba(0, 0, 0, 1));
    width: clamp(60px, 70vw, 500px);
}
.div1 .cap1{
    filter: drop-shadow(0 4px 18px rgba(0, 0, 0, 1));
    width: clamp(60px, 80vw, 700px);
}



.div2{
    background-color: #ffffff;
    width: 100vw;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente (si hace falta) */
    gap: 100px; 
    padding: 0px; 
    flex-wrap: wrap; /* permite que salten abajo si no caben */
    padding: 50px;
    
}
.div2 .todas-las-versiones{
    filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 1));
    width: clamp(60px, 80vw, 500px);
}
.div2 .cap2{
    filter: drop-shadow(0 4px 18px rgba(0, 0, 0, 1));
    width: clamp(60px, 80vw, 700px);
}



.div3{
    background-color: #3a3a3a;
    width: 100vw;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente (si hace falta) */
    gap: 100px; 
    padding: 0px; 
    flex-wrap: wrap; /* permite que salten abajo si no caben */
    padding: 50px;
    
}
.div3 .instala-mods{
    filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 1));
    width: clamp(60px, 70vw, 500px);
}
.div3 .cap3{
    filter: drop-shadow(0 4px 18px rgba(0, 0, 0, 1));
    width: clamp(60px, 80vw, 700px);
}




.div4{
    background-color: #ffffff;
    width: 100vw;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente (si hace falta) */
    gap: 100px; 
    padding: 0px; 
    flex-wrap: wrap; /* permite que salten abajo si no caben */
    padding: 50px;
    
}
.div4 .gratis{
    filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 1));
    width: clamp(50px, 70vw, 400px);
}
.div4 .cap4{
    filter: drop-shadow(0 4px 18px rgba(0, 0, 0, 1));
    width: clamp(60px, 80vw, 700px);
}


.descarga{
    width: 100%;
    height: auto;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #383838;
    flex-direction: column;
}


.descargar-tt{
    width: clamp(10px, 65vw, 700px);
    filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 1));
}

.opciones-descarga{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    margin: 50px;
    background: linear-gradient(45deg, rgb(177, 82, 221), rgb(62, 48, 184));
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}


.opciones-descarga a{
    text-align: center;
}

.instalador{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: clamp(10px, 30vw, 330px);
    padding: 12px 24px;
    background: linear-gradient(135deg, #34b44f, #1c6459);
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
    transition: transform 0.3s ease;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.5);
    font-size: 20px;
}

.portable{
    display: inline-block;
    padding: 12px 24px;
    background: linear-gradient(135deg, #6a5acd, #8a79e0);
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
    transition: transform 0.3s ease;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.5);
}

.github-bt{
    display: inline-block;
    padding: 12px 24px;
    background: linear-gradient(135deg, #6a5acd, #8a79e0);
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
    transition: transform 0.3s ease;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.5);
}

.opciones-descarga .instalador:hover {
    transform: scale(1.07);
    background: linear-gradient(135deg, #2da046, #13463e);
}
.opciones-descarga .portable:hover {
    transform: scale(1.07);
    background: linear-gradient(135deg, #5a4bcf, #7a69d0);
}
.opciones-descarga .github-bt:hover {
    transform: scale(1.07);
    background: linear-gradient(135deg, #5a4bcf, #7a69d0);
}


.opciones-redes{
    background: linear-gradient(45deg, rgb(177, 82, 221), rgb(62, 48, 184));
    margin: 50px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    flex-direction: column;
}
.redes-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.redes-grid a{
    display: flex;
    padding: 12px 24px;
    background: linear-gradient(135deg, #6a5acd, #8a79e0);
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
    transition: transform 0.3s ease;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}
.redes-grid a:hover {
    transform: scale(1.07);
    background: linear-gradient(135deg, #5a4bcf, #7a69d0);
}
.redes-grid a img {
    max-height: 35px;
    filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.7));
}
